{{#if editing}}
    <form onsubmit="return false;">
      {{input value=value enter="stopEditing" escape-press='cancelEditing'}}
        {{#if isInvalid}}<small class="error">Invalid</small>{{/if}}
    </form>
{{else}}
    <a href="#" {{action "startEditing"}}>{{value}}</a>
{{/if}}