@import "settings";
@import "foundation";
@import "bower_components/font-awesome/scss/font-awesome";

$bgcolor: #333333;

.contain-to-grid .top-bar {
  color: white;
  font-size: larger;
  font-weight: 900;
}

.list {
  width: 100%;
}

.matrix {
  position: relative;
  height: 300px;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}

$legend_thickness: 30px;

.matrix__tasks {
  width: 95%;
  height: 95%;
  position: absolute;
  bottom: $legend_thickness;
  left: $legend_thickness;
}

.matrix__legend {
  position: absolute;
  background-color: $bgcolor;
  color: white;

  &.cost {
    position: absolute;
    width: $legend_thickness;
    height: 100%;
    left: 0;

    .title{
      position: absolute;
      top: 40%;
    }
    .min-cost {
      position: absolute;
      width: $legend_thickness;
      text-align: center;
      bottom: $legend_thickness;
    }
    .max-cost {
      position: absolute;
      width: $legend_thickness;
      text-align: center;
      top: 0;
    }
  }
  &.value {
    width: 100%;
    height: $legend_thickness;
    bottom: 0;

    .title{
      position: absolute;
      left: 45%;
    }
    .min-value {
      position: absolute;
      left: $legend_thickness;
    }
    .max-value {
      position: absolute;
      right: 1%;
    }
  }
}

.matrix__task {
  position: absolute;
  border-radius: 40px;
  background-color: $bgcolor;
  width: 50px;
  text-align: center;
}

.matrix__task__link {
  color: #FFFFFF;
}
