<h2>Matrices:</h2>

<p>You can find all the public matrices and your private one.</p>

<table class="fluid-media">
    <thead>
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |matrix|}}
        <tr>
            <td>
              {{inline-edit value=matrix.title model=matrix action='goToMatrix'}}
            </td>
            <td>

              {{#link-to 'tasks.index' matrix}}{{fa-icon "info-circle"}}{{/link-to}}
              {{confirm-button toBeDeleted=matrix}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>



