<h2>Create your matrix</h2>

<label>
    Title:
  {{input placeholder='What is the matrix purpose?' value=model.title enter='addMatrix' required="true"}}
  {{#unless freshPage}}
    {{#if model.validations.attrs.title.isInvalid}}
        <small class="error man pan">{{model.validations.attrs.title.message}}</small>
    {{/if}}
  {{/unless}}
</label>

<label class="">
    Choose the metric for the <strong>value</strong>:
    <input type="text" list="value-types" placeholder="Euros, Dollars, hours, ... ">
</label>

<label class="">
    Choose the metric for the <strong>cost</strong>:
    <input type="text" list="value-types" placeholder="Euros, Dollars, hours, ... ">
</label>

<label class="">
    Check me to make it <strong>public</strong>:
  {{input type="checkbox" name="Share it" checked=model.shared enter='addMatrix'}}
</label>

<button {{action "addMatrix"}} class="small expand">
    Let's go!
</button>

<datalist id="value-types">
    <option value="Euros"></option>
    <option value="Dollars"></option>
    <option value="Days"></option>
    <option value="Hours"></option>
    <option value="Minutes"></option>
    <option value="Scale"></option>
</datalist>






