<div class="medium-12 columns">

    <div class="row">
        <div class="small-12 columns man pan">
            <h2>Create your matrix</h2>

            <p class="taj">
                <label>
                    Title:
                  {{input placeholder='What is the matrix purpose?' value=model.title enter='addMatrix' }}
                </label>

                <label class="mtxl">
                    Shared matrix:
                  {{input type="checkbox" name="Shared matrix" checked=model.shared enter='addMatrix'}}
                    <br/><i>Check me to make the matrix public. If not, keep the url!</i>
                </label>
            </p>

            <button {{action "addMatrix"}} class="mtxl mbxl">
                Let's go!
            </button>


        </div>
    </div>

</div>



