<div class="medium-12 columns">

    <div class="row">
        <div class="small-12 columns man pan">
          {{input placeholder='Title' value=model.title enter='addMatrix' class='small-input'}}
        </div>
    </div>

</div>



