<div class="medium-12 columns">

    <div class="bottom-section__menu">
        <div  class="bottom-section__menu__title">
          {{controllers.matrix.model.title}}
        </div>
        <div class="bottom-section__menu__link">
          {{#link-to 'tasks.new' class='button expand radius man'}}Add a task{{/link-to}}
        </div>
    </div>

  {{list-component tasks=model class="list"}}
</div>