<div class="medium-12 columns">

    <div class="row man pan">
        <div class="medium-4 columns man paxs "><p class='sub-section-title'>{{controllers.matrix.model.title}}</p></div>
        <div class="medium-4 columns man paxs">{{#link-to 'tasks.new' class='button expand radius'}}Add a task{{/link-to}}</div>
        <div class="medium-4 columns man paxs">{{#link-to 'tasks.new' class='button expand radius'}}Add a task{{/link-to}}</div>

    </div>

  {{list-component tasks=model class="list"}}
</div>