<form onsubmit="return false;">
    <div>
        <label for="title">Title</label>
      {{input value=model.title enter='save'}}
    </div>
    <div>
        <label for="cost">Cost</label>
      {{input value=model.cost enter='save'}}
    </div>
    <div>
        <label for="value">Value</label>
      {{input value=model.value enter='save'}}
    </div>
</form>
