<br/>
Task details:
<div>
  <label for="title">Title</label>{{model.title}}
</div>
<div>
  <label for="cost">Cost</label>{{model.cost}}
</div>
<div>
  <label for="value">Value</label>{{model.value}}
</div>
<div>
    <label for="description">Description</label>{{model.description}}
</div>
