<div class="fluid-media top-bar">
    <ul class="button-group">
        <li>Valoritization.com</li>
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
    </ul>
</div>

{{outlet}}

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; <a href="https://www.linkedin.com/in/nicolasdenayer">Nicolas De Nayer</a></p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#" class="button">Link 1</a></li>
                    <li><a href="#" class="button">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>