<header class="fluid-media top-bar">
    <ul class="button-group">
        <li>{{#link-to 'index' class='button'}}Home{{/link-to}}</li>
        <li>{{#link-to 'matrices.new' class='button'}}Create{{/link-to}}</li>
        <li>{{#link-to 'matrices' class='button'}}Matrices{{/link-to}}</li>
    </ul>
</header>

<div class="center">
  {{outlet}}
</div>

<footer class="fluid-media bottom-bar">
    <ul class="button-group">
        <li>{{#link-to 'index' class='button'}}Home{{/link-to}}</li>
        <li>{{#link-to 'matrices.new' class='button'}}Create{{/link-to}}</li>
        <li>{{#link-to 'matrices' class='button'}}Matrices{{/link-to}}</li>
    </ul>
</footer>

{{user-feedback}}