<div class="fluid-media top-bar" style="display: inline">

    <ul class="button-group mlxl">
        <li>{{#link-to 'index' class='button'}}Home{{/link-to}}</li>
        <li>{{#link-to 'matrices.new' class='button'}}Create{{/link-to}}</li>
        <li>{{#link-to 'matrices' class='button'}}Matrices{{/link-to}}</li>
    </ul>

</div>

<div class="center">
  {{outlet}}
</div>
<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; <a href="https://www.linkedin.com/in/nicolasdenayer">Nicolas De Nayer</a></p>
            </div>
            <div class="large-6 columns">
                <ul class="button-group right">
                    <li>{{#link-to 'index' class='button tiny'}}Home{{/link-to}}</li>
                    <li>{{#link-to 'matrices.new' class='button tiny'}}Create{{/link-to}}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{user-feedback}}