<div class="row">
  {{matrix-component extremeCoordinates=extremeCoordinates tasks=model}}
</div>
<div class="row">
  {{list-component tasks=model}}
  {{#link-to 'tasks.new'}}Add a task{{/link-to}}
</div>



{{outlet}}



