<div class="row">
    <div class="small-12 columns">
      {{matrix-component extremeCoordinates=extremeCoordinates tasks=model}}
    </div>
</div>
<div class="row">
    <div class="small-9 columns">
      {{list-component tasks=model}}
      {{#link-to 'tasks.new'}}Add a task{{/link-to}}
    </div>
    <div class="small-3 columns">
      {{outlet}}
    </div>

</div>







