<div class="matrix  mtxl fluid-media">
    <div class="small-12 columns mxl full-media">
      {{matrix-component extremeCoordinates=extremeCoordinates tasks=model class="full-media"}}
    </div>
</div>
<div class="bottom-section row mtxl ">
    <div class="medium-6 columns pln">
      {{#link-to 'tasks.new' class='button expand radius'}}Add a task{{/link-to}}
      {{list-component tasks=model class="list"}}
    </div>
    <div class="medium-6 columns" style="background-color: #F5F5F5">
      {{outlet}}
    </div>
</div>







